@page
@model Ibas.MenuApp.Pages.ContactInfoModel
@{
    ViewData["Title"] = "Contact Info";
}

<div class="text-center">
    <h1>Oplysninger om Karen</h1>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Felt</th>
            <th>Information</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><strong>Navn:</strong></td>
            <td>Karen</td>
        </tr>
        <tr>
            <td><strong>Intern E-mail:</strong></td>
            <td>karen@example.com</td>
        </tr>
        <tr>
            <td><strong>Telefonnummer:</strong></td>
            <td>12345678</td>
        </tr>
        </tbody>
    </table>
</div>